@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #770015;
}

.primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.gradient {
    background-image: linear-gradient(to right, #AB001E,#770015);
}

.card-image:hover > .card-options {
    display: flex;
    transition: 0.25s ease;
}